/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#login-section {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

#qr-container {
    margin-bottom: 20px;
}

#qr-code {
    width: 200px;
    height: 200px;
    margin: auto;
    background-color: #fff;
    border: 1px solid #ccc;
}

#qr-status {
    margin-top: 10px;
    color: #666;
}

#form-container {
    /* display: none; */
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="file"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"], #logout-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover, #logout-btn:hover {
    background-color: #0056b3;
}

#loader {
    display: none;
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: auto;
    margin-top: 20px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Container for content */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

h2 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 20px;
    color: #007bff;
}

p {
    margin-bottom: 10px;
    font-size: 16px;
}

ul {
    list-style-type: none;
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
    font-size: 14px;
}

strong {
    font-weight: bold;
}

/* Button styles */
.button {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.button:hover {
    background-color: #0056b3;
}

/* Loader animation */
.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: auto;
    margin-top: 20px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



#qr-container {
    margin-bottom: 20px;
    text-align: center;
}

#qr-code {
    width: 200px;
    height: 200px;
    margin: auto;
    background-color: #fff;
    border: 1px solid #ccc;
}

#qr-status {
    margin-top: 10px;
    color: #666;
}

#loader {
    display: none;
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: auto;
    margin-top: 20px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

button.messages {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

button.messages:hover {
    background-color: #0056b3;
}

.message-container {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 0 8px 8px 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #e8e9fb;
}

.message-number {
    font-weight: bold;
    color: #007bff;
    margin-right: 10px;
}

.message-text {
    color: #333;
    font-size: 16px;
    line-height: 2;
    display: block;
}

button.secondary{
    background-color: #f0f0f0;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

button.primary {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.button-wrapper {
    margin-bottom: 20px;
    text-align: center;
}